* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #838485;
  padding: 1rem 0;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  transition: background 0.3s;
}

.nav-links a:hover {
  background-color: #dde0e4;
  border-radius: 5px;
}

.hero {
  background: linear-gradient(to right, #5b5a5a, #5b5a5a);
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.2rem;
  margin: 15px 0;
}

.btn {
  display: inline-block;
  background-color: white;
  color: #424344;
  padding: 10px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px;
  margin-top: 20px;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #eee;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 20px;
  background-color: white;
}

.feature-box {
  background-color: #ecf0f1;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  width: 30%;
  min-width: 250px;
  text-align: center;
}

.feature-box h3 {
  color: #2c3e50;
  margin-bottom: 15px;
}

